INCLUDEPATH += $$(OPENCV_DIR)\include
Release: LIBS += -L$$(OPENCV_DIR)\x64\vc14\lib -lopencv_world340
Debug: LIBS += -L$$(OPENCV_DIR)\x64\vc14\lib -lopencv_world340d

INCLUDEPATH += $$(NN_DIR)\nn
Release: LIBS += -L$$(NN_DIR)\x64\Release -lnn
Debug: LIBS += -L$$(NN_DIR)\x64\Debug -lnn

INCLUDEPATH += $$(LIB_PATH)\VTK-8.2-kits\include\vtk-8.2
LIBS += -L$$(LIB_PATH)\VTK-8.2-kits\lib
LIBS += -lvtkCommon-8.2 -lvtkFilters-8.2 -lvtkGUISupportQt-8.2 -lvtkGeovisCore-8.2 -lvtkIO-8.2 -lvtkIOImport-8.2 -lvtkImaging-8.2 -lvtkInteraction-8.2 -lvtkOpenGL-8.2 -lvtkRendering-8.2 -lvtkRenderingQt-8.2
